anthropic
modal
numpy
openai
packaging
torch==2.8.0
tqdm
datasets
transformers
google-generativeai
together
pytest
ninja
einops
flask
matplotlib
scikit-learn
seaborn
gputil
psutil
claude-code-sdk
dspy